.heroImg {
  -webkit-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 0.8s ease-in-out 3s 2 both;
  animation: wobble-hor-bottom 0.8s ease-in-out 3s 2 both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-18px) rotate(-6deg);
    transform: translateX(-18px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(9px) rotate(6deg);
    transform: translateX(9px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-9px) rotate(-3.6deg);
    transform: translateX(-9px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(5.4px) rotate(2.4deg);
    transform: translateX(5.4px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-3.6px) rotate(-1.2deg);
    transform: translateX(-3.6px) rotate(-1.2deg);
  }
}

.wobble-ver-right {
  -webkit-animation: wobble-ver-right 0.8s 3s both;
  animation: wobble-ver-right 0.8s 3s both;
}

@-webkit-keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(6deg);
    transform: translateY(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(-6deg);
    transform: translateY(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(3.6deg);
    transform: translateY(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(-2.4deg);
    transform: translateY(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(1.2deg);
    transform: translateY(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-ver-right {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-15px) rotate(6deg);
    transform: translateY(-15px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateY(7.5px) rotate(-6deg);
    transform: translateY(7.5px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateY(-7.5px) rotate(3.6deg);
    transform: translateY(-7.5px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateY(4.5px) rotate(-2.4deg);
    transform: translateY(4.5px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateY(-3px) rotate(1.2deg);
    transform: translateY(-3px) rotate(1.2deg);
  }
}

.jello-horizontal {
  -webkit-animation: jello-horizontal 0.9s 8s both;
  animation: jello-horizontal 0.9s 8s both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.waitAnimate {
  animation: waitAnimate_2125634403 3s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes waitAnimate_2125634403 {
  0% {
    -webkit-transform: translateY(0) rotate(0);
    transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50%50%;
    transform-origin: 50%50%;
  }
  10% {
    -webkit-transform: translateY(-15px) rotate(6deg);
    transform: translateY(-15px) rotate(6deg);
  }
  20% {
    -webkit-transform: translateY(7.5px) rotate(-6deg);
    transform: translateY(7.5px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateY(-7.5px) rotate(3.6deg);
    transform: translateY(-7.5px) rotate(3.6deg);
  }
  40% {
    -webkit-transform: translateY(4.5px) rotate(-2.4deg);
    transform: translateY(4.5px) rotate(-2.4deg);
  }
  50% {
    -webkit-transform: translateY(-3px) rotate(1.2deg);
    transform: translateY(-3px) rotate(1.2deg);
  }
  100% {
    -webkit-transform: translateY(-3px) rotate(1.2deg);
    transform: translateY(-3px) rotate(1.2deg);
  }
}

.waitJello {
  animation: waitShake_3626394205 4.9s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes waitShake_3626394205 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  5.51% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  7.347% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  9.184% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  11.939% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  13.776% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  18.367% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.waitShake {
  animation: waitShake_293481330 3.8s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@keyframes waitShake_293481330 {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50%50%;
    transform-origin: 50%50%;
  }
  3.158% {
    -webkit-transform: translateX(-18px) rotate(-6deg);
    transform: translateX(-18px) rotate(-6deg);
  }
  6.316% {
    -webkit-transform: translateX(9px) rotate(6deg);
    transform: translateX(9px) rotate(6deg);
  }
  9.474% {
    -webkit-transform: translateX(-9px) rotate(-3.6deg);
    transform: translateX(-9px) rotate(-3.6deg);
  }
  12.632% {
    -webkit-transform: translateX(5.4px) rotate(2.4deg);
    transform: translateX(5.4px) rotate(2.4deg);
  }
  15.789% {
    -webkit-transform: translateX(-3.6px) rotate(-1.2deg);
    transform: translateX(-3.6px) rotate(-1.2deg);
  }
  100% {
    -webkit-transform: translateX(-3.6px) rotate(-1.2deg);
    transform: translateX(-3.6px) rotate(-1.2deg);
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    1s both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 1s both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
