#root {
  min-height: 100dvh;
  display: flex;
  place-items: center;
  flex-direction: column;
}

nav a:hover {
  opacity: 0.8;
}

.phone {
  border-radius: 3.5rem;
  max-height: 40rem;
}

html {
  scroll-behavior: smooth;
}

*.dark {
  scrollbar-color: #121212 #242424;
}

.fontSize1dot5xl {
  font-size: 1.45rem;
}

.container {
  width: 100vw;
  min-height: 315dvh;
}

.container2 {
  width: 100vw;
  min-height: 225dvh;
}

.minWidthMargin {
  margin-left: 30%;
  margin-right: 30%;
  min-width: fit-content;
}

iframe {
  border-radius: 4rem;
}
